@model Authors
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h1> @ViewBag.Greetings</h1>
<h1> @ViewBag.Company</h1>  
<h1> @ViewBag.Country</h1> 

<h1>Authors details are as below</h1>
<h2>@Model.Name</h2>
<h2>@Model.Country</h2>

<form asp-controller="HellowWorld" asp-action="GetsUrlDemo" method="post">
   
    <label for="url">URL</label>
    <input type="text" name="url" />

    <input type="submit" />
</form> 