@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h3>
    <a asp-controller="ProductInTagDemo" asp-action="Index">Show All Products</a>
</h3>

<h3><a asp-route="ListOfProducts">List Of Products</a></h3>

<h3>
    <a asp-controller="ProductInTagDemo"
       asp-action="Index"
       asp-fragment="BestSellingProducts">Best Selling Products</a>
</h3>


<h3>
    <a asp-protocol="https"
       asp-controller="Home"
       asp-action="Privacy">Privacy</a>
</h3>


<h3>
    <a asp-protocol="https"
       asp-host="microsoft.com"
       asp-controller="Home"
       asp-action="About">About</a>
</h3>


@*<h3>
        <a asp-area="Billing"
           asp-controller="Home"
           asp-action="Index">Billing Index</a>
    </h3>


    <h3>
        <a asp-area="AdminSupport"
           asp-controller="Home"
           asp-action="Index">AdminSupport Index</a>
    </h3>

    <h6 class="bg-primary text-white m-2 p-2">
        Uncached timestamp: @DateTime.Now.ToLongTimeString()
    </h6>*@

@*<cache enabled="true">
        <h6 class="bg-primary text-white m-2 p-2">
            Cached timestamp: @DateTime.Now.ToLongTimeString()
        </h6>
    </cache>*@

@*<cache expires-after="@TimeSpan.FromSeconds(15)">
        <h6 class="bg-primary text-white m-2 p-2">
            Cached timestamp: @DateTime.Now.ToLongTimeString()
        </h6>
    </cache>*@


@*<cache expires-on="@new DateTime(2020,11,18,19,58,0)">
        <h6 class="bg-primary text-white m-2 p-2">
            Cached timestamp: @DateTime.Now.ToLongTimeString()
        </h6>
    </cache>*@

@*<cache expires-sliding="@TimeSpan.FromSeconds(60)">
        <h6 class="bg-primary text-white m-2 p-2">
            Cached timestamp: @DateTime.Now.ToLongTimeString()
        </h6>
    </cache>*@
<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th colspan="2">Employee Details</th>
        </tr>
    </thead>
    <tbody>
        <tr><th>Employee ID</th><td>1</td></tr>
        <tr><th>Employee Name</th><td>Lalit</td></tr>
        <tr><th>Salary</th><td>$5000</td></tr>
    </tbody>
</table>
@section Summary {
    <div class="bg-info text-white m-2 p-2">
        @*@await Component.InvokeAsync("ProductSummary")*@

        @await Component.InvokeAsync("ProductSummary", new { units = 45 })
    </div>


    <div class="bg-info text-white m-2 p-2">
        <vc:product-summary units="45" />
        @*<vc:product-summary  />*@
    </div>
}